# WordPress
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log
yarn-error.log

# Composer
vendor/

# Environment
.env
.env.local
